/* *** modifiche ed aggiunte da apportare a tailwind *** */
/* questo file viene importato da tailwind.css, che si trova nel root del progetto */

[x-cloak] { display: none !important; }

#griglia *, .griglia * {
	border:  pink 1px solid;
}
:not(.bg-perros-green) .homebox h3{
	@apply text-perros-green;
}
.bg-perros-green .homebox h3{
	@apply text-white;
}

.bigDottedLine{
  	@apply mt-12 border-dotted border-t-8 border-neutral-300;
}
.homebox{
  h3{
    @apply text-5xl font-oswald mb-8;
  }
  a{
  	@apply mt-7 block;
  }
  hr{
  	@apply mt-12 border-dotted border-t-8 border-neutral-300;
  }
  .colonnina p{
  	@apply pb-10;
  }
}

.bg-ossi-pattern{
	background-size: 350px;
}

@layer components {
	.bottone-green{
		@apply font-oswald font-bold bg-perros-green border border-transparent rounded-md py-3 px-5 flex items-center justify-center text-base font-medium text-white hover:bg-perros-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-perros-green-500 sm:w-full;
	}
}